<cruisecontrol>
    <project name="yui3">
        <listeners>
            <currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
        </listeners>

        <bootstrappers>
            <gitbootstrapper localWorkingCopy="projects/${project.name}/src/yui3" />
		<!-- tools -->
            <gitbootstrapper localWorkingCopy="projects/${project.name}/src/builder" />
            <gitbootstrapper localWorkingCopy="projects/${project.name}/src/yuidoc" />
            <gitbootstrapper localWorkingCopy="projects/${project.name}/src/yuicompressor" />
            <gitbootstrapper localWorkingCopy="projects/${project.name}/src/cssProcessor" />
        </bootstrappers>

        <!-- Ignoring file checkins which are not part of PR1 -->
        <modificationset quietperiod="0" ignoreFiles="reset-fonts*,css*,slider*,tabview*">
            <git localWorkingCopy="projects/${project.name}/src/yui3" />
		<!--
            <git localWorkingCopy="projects/${project.name}/src/yui3/site" />
            <git localWorkingCopy="projects/${project.name}/src/yui3/src" />
            <git localWorkingCopy="projects/${project.name}/src/yui3/templates" />
		-->
        </modificationset>

        <schedule interval="3000">
            <ant anthome="apache-ant-1.7.0" buildfile="projects/${project.name}/build.xml"/>
        </schedule>

        <log>
            <merge dir="projects/${project.name}/target/test-results"/>
        </log>

        <publishers>
            <htmlemail mailhost="smtp.yahoo.com"
                    returnaddress="yuibuild@yahoo-inc.com"
                    buildresultsurl="http://presentbright.corp.yahoo.com:8080/buildresults/yui3/"
                    skipusers="true"
                    spamwhilebroken="true"
                    css="webapps/cruisecontrol/css/cruisecontrol.css"
                    xsldir="webapps/cruisecontrol/xsl"
                    logdir="logs/yui3">

                <failure address="sdesai@yahoo-inc.com"/>
                <failure address="adamoore@yahoo-inc.com"/>
                <failure address="miraglia@yahoo-inc.com"/>
                <success address="yui-authors@yahoo-inc.com"/>

		<!--
                <always address="adamoore@yahoo-inc.com"/>
		-->
                <!--<always address="sdesai@yahoo-inc.com"/>-->
            </htmlemail>

            <onsuccess>
                <artifactspublisher dest="artifacts/${project.name}" dir="projects/${project.name}/target"/>
                <antpublisher anthome="apache-ant-1.7.0" 
                              buildfile="projects/${project.name}/build.xml"
                              target="updategit" />
              
            </onsuccess>
        </publishers>
        <labelincrementer defaultLabel="yui3-260" separator="-" />
    </project>
</cruisecontrol>
