<cruisecontrol>
    <project name="yui">
        <listeners>
            <currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
        </listeners>

        <bootstrappers>
            <cvsbootstrapper localWorkingCopy="projects/${project.name}" file="yahoo/presentation/3.x/build" />
            <cvsbootstrapper localWorkingCopy="projects/${project.name}" file="yahoo/presentation/3.x/src" />
            <cvsbootstrapper localWorkingCopy="projects/${project.name}" file="yahoo/presentation/3.x/tests" />
            <cvsbootstrapper localWorkingCopy="projects/${project.name}" file="yahoo/presentation/3.x/templates" />
            <cvsbootstrapper localWorkingCopy="projects/${project.name}" file="yahoo/presentation/3.x/site" />
            <cvsbootstrapper localWorkingCopy="projects/${project.name}" file="yahoo/presentation/tools" />
        </bootstrappers>

        <!-- Ignoring file checkins which are not part of PR1 -->
        <modificationset quietperiod="25" ignoreFiles="reset-fonts*,classnamemanager*,css*,log*,slider*,tabview*,widget*,cookie*">
            <cvs localWorkingCopy="projects/${project.name}/yahoo/presentation/3.x/build" />
            <cvs localWorkingCopy="projects/${project.name}/yahoo/presentation/3.x/templates" />
        </modificationset>

        <schedule interval="7200">
            <ant anthome="apache-ant-1.6.5" buildfile="projects/${project.name}/build.xml"/>
        </schedule>

        <log>
            <merge dir="projects/${project.name}/target/test-results"/>
        </log>

        <publishers>
            <htmlemail mailhost="smtp.yahoo.com"
                    returnaddress="sdesai@yahoo-inc.com"
                    buildresultsurl="http://delightfuture.corp.yahoo.com:8080/buildresults/yui/"
                    skipusers="true"
                    spamwhilebroken="true"
                    css="webapps/cruisecontrol/css/cruisecontrol.css"
                    xsldir="webapps/cruisecontrol/xsl"
                    logdir="logs/yui">
                <failure address="sdesai@yahoo-inc.com"/>
                <success address="yui-authors@yahoo-inc.com"/>
                <!--<always address="sdesai@yahoo-inc.com"/>-->
            </htmlemail>

            <onsuccess>
                <artifactspublisher dest="artifacts/${project.name}" dir="projects/${project.name}/target"/>
                <antpublisher anthome="apache-ant-1.6.5" 
                              buildfile="projects/${project.name}/build.xml"
                              target="updatecvs" />
              
            </onsuccess>
        </publishers>
        <labelincrementer defaultLabel="yui3-0" separator="-" />
    </project>
</cruisecontrol>
